<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400.34 262.26">
  <defs>
    <style>
      .marker.is-active .outer-shape {
        fill: #f7935b;
      }

      .marker.is-active .inner-circle {
        fill: #f2805c;
      }

      .label {
        font-size: 14px;
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        font-family: NotoSansCJKjp-Bold-83pv-RKSJ-H, Noto Sans CJK JP;
      }

      .marker .outer-shape {
        fill: #bbb8ba;
      }

      .marker .inner-circle {
        fill: #aaaca8;
      }
      .cls-1 {
        isolation: isolate;
      }

      .cls-2 {
        fill: #94c54c;
      }

      .cls-3 {
        fill: #aee2f8;
      }

      .cls-21, .cls-24, .cls-4, .cls-5, .cls-6 {
        fill: none;
      }

      .cls-4 {
        stroke: #a97c50;
        stroke-width: 7px;
      }

      .cls-4, .cls-5, .cls-6 {
        stroke-miterlimit: 10;
      }

      .cls-5 {
        stroke: #b89066;
        stroke-width: 18px;
      }

      .cls-21, .cls-24, .cls-6 {
        stroke: #fff;
      }

      .cls-6 {
        stroke-dasharray: 5 3;
      }

      .cls-7 {
        fill: #e6e7e7;
        mix-blend-mode: multiply;
      }

      .cls-8 {
        fill: #5a3414;
      }

      .cls-9 {
        fill: #bcbcbc;
      }

      .cls-10 {
        fill: #94351f;
      }

      .cls-11 {
        fill: #010101;
      }

      .cls-12 {
        fill: #fff;
      }

      .cls-13 {
        fill: #af6928;
      }

      .cls-14 {
        fill: #212121;
      }

      .cls-15 {
        fill: #161515;
      }

      .cls-16 {
        fill: url(#linear-gradient);
      }

      .cls-17 {
        fill: url(#linear-gradient-2);
      }

      .cls-18 {
        fill: url(#linear-gradient-3);
      }

      .cls-19 {
        fill: #bbb8ba;
      }

      .cls-20 {
        fill: #aaaca8;
      }

      .label {
        font-family: HiraKakuStd-W8-83pv-RKSJ-H, Hiragino Kaku Gothic Std;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 0.75px;
      }

      .cls-22 {
        fill: #f7935b;
      }

      .cls-23 {
        fill: #f2805c;
      }

      .cls-24 {
        font-size: 16px;
        font-family: SourceSansPro-Bold, Source Sans Pro;
        font-weight: 700;
      }

      .cls-25 {
        font-size: 14px;
        font-weight: 400;
      }
    </style>
    <linearGradient id="linear-gradient" x1="107.25" y1="26.17" x2="131.72" y2="26.17" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f2805c"/>
      <stop offset="1" stop-color="#ed8e57"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="-1159.38" y1="26.17" x2="-1134.9" y2="26.17" gradientTransform="matrix(-1, 0, 0, 1, -868.24, 0)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="127.55" y1="18.99" x2="271.81" y2="18.99" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f2805c"/>
      <stop offset="1" stop-color="#f7935b"/>
    </linearGradient>
  </defs>
  <title>mission-markers</title>
  <g class="cls-1">
    <g id="start">
      <rect class="cls-2" x="0.24" y="20.03" width="399.95" height="241.46"/>
      <rect class="cls-3" x="0.04" y="20.03" width="400.34" height="64.98"/>
      <g>
        <path class="cls-4" d="M191.88,223.59a39.17,39.17,0,0,1-12.16-3c-8.83-3.73-14.44-10.18-16.23-18.64l-.14-1.27L163.24,141A33.79,33.79,0,0,0,161,130c-3.18-7.8-8.32-8.74-12-8.74H149l-.59,0c-1,0-10.33-.18-14.14,13.43l-2.2,16.81-.24,1.09c-2.63,8.2-12.24,23.33-30,22.15l-31.46-.05V162.17l32.14.06c5.25.4,9.57-1.6,13.22-6.11a27.28,27.28,0,0,0,4-7L122,132.6l.16-.8c5.19-19.41,19.8-23.55,27.11-23a23.82,23.82,0,0,1,17.1,6.84c9.13,9.11,9.39,23.71,9.38,25.35l.12,59c1,4,3.81,7,8.47,9a28.43,28.43,0,0,0,7.92,2.1c11.43-1.15,14.72-8.12,15.41-10.06l.65-50.71.39-2.1c7-18.66,25.37-19.84,26.15-19.88,11.25-.47,20.18,4.61,25.23,14.28a37.56,37.56,0,0,1,4,14.13v.29l.21,22.78c4.51,12.16,14.74,10.79,15.18,10.73l.48-.06c6.84-.47,11.47-3,14.14-7.78A18.34,18.34,0,0,0,296.3,175l.1-1.05c3.43-19.33,21.69-23.75,31-23.39l24.74.13-.07,12.48L327,163c-1.6-.06-15.73-.14-18.26,12.77-.28,4.31-2.93,25.34-27.71,27.18-7.52,1-22.89-1.91-28.9-20.05l-.31-1.9-.22-23.63a25.82,25.82,0,0,0-2.76-9.24c-2.83-5.21-7.08-7.54-13.35-7.3a18.27,18.27,0,0,0-14.75,10.83l-.65,50.43-.17,1.37c-.17.74-4.59,18.24-27.16,20.13Z"/>
        <path class="cls-5" d="M70.41,168.41l31.67,0c17.68,1.33,23.81-17.81,23.81-17.81l2.25-17.23C133.44,113.59,149,115,149,115c20.52-.08,20.5,25.94,20.5,25.94l.11,59.75c3.29,15.58,22.65,16.68,22.65,16.68,18.33-1.54,21.62-15.37,21.62-15.37l.66-51.58c5.59-15,20.63-15.83,20.63-15.83,21.4-.88,22.68,22.52,22.68,22.52l.22,23.82c6,18.22,22.32,15.8,22.32,15.8C302.58,195.2,302.54,175,302.54,175c3.4-19.17,24.73-18.24,24.73-18.24l24.84.13"/>
        <path class="cls-6" d="M70.41,168.41l31.67,0c17.68,1.33,23.81-17.81,23.81-17.81l2.25-17.23C133.44,113.59,149,115,149,115c20.52-.08,20.5,25.94,20.5,25.94l.11,59.75c3.29,15.58,22.65,16.68,22.65,16.68,18.33-1.54,21.62-15.37,21.62-15.37l.66-51.58c5.59-15,20.63-15.83,20.63-15.83,21.4-.88,22.68,22.52,22.68,22.52l.22,23.82c6,18.22,22.32,15.8,22.32,15.8C302.58,195.2,302.54,175,302.54,175c3.4-19.17,24.73-18.24,24.73-18.24l24.84.13"/>
      </g>
      <g>
        <path class="cls-7" d="M183.41,155.53c.61-2.87,4.1-3.91,7-4.4l24.87-4.25,15,10.35q2,7.08,4,14.16a4.77,4.77,0,0,1,.25,2.14,3.19,3.19,0,0,1-.85,1.53c-3.41,3.61-9.78.66-14.27,2.78-1,.46-1.81,1.14-2.73,1.68a10.81,10.81,0,0,1-14.29-3.92,13.76,13.76,0,0,0-1.53-2.6c-1.55-1.72-4.15-1.83-6.42-2.26a12.78,12.78,0,0,1-7.88-4.55c-1.6-2.16-2.25-4.87-2.85-7.49A7.43,7.43,0,0,1,183.41,155.53Z"/>
        <g>
          <path class="cls-8" d="M217.05,131.83a7.3,7.3,0,0,1-2.5-.33,7.28,7.28,0,0,0,.6.42,5,5,0,0,0,1.49.64C217.1,132.6,217,132.12,217.05,131.83Z"/>
          <path class="cls-9" d="M214.05,163.4v.17c.38.25.7.58,1.08.87a9.59,9.59,0,0,0,2.21,1.34,9,9,0,0,0,2.44.67c.56.08,1.13,0,1.68.08a.22.22,0,0,0,0-.08c-.11-.2-.21-.41-.34-.6a4.15,4.15,0,0,0-.7-.75c-.09-.08,0-.24.11-.2a2.07,2.07,0,0,1,.95.62,1,1,0,0,1,.08.11c.08-.65.17-1.3.25-1.95a2.28,2.28,0,0,0-.63-.51,7.14,7.14,0,0,1-1-.53,1.65,1.65,0,0,1-1.46.61.28.28,0,0,1-.17-.42,1.61,1.61,0,0,1,.58-.55,3.89,3.89,0,0,0,1-1,3.58,3.58,0,0,0,.53-1.37,25.06,25.06,0,0,1-6.44,2.57A3.63,3.63,0,0,1,214.05,163.4Z"/>
          <path class="cls-10" d="M217.65,131.74c-.29.06-.35,1.07-.33,2.11a20.76,20.76,0,0,0,.16,2.3,3.68,3.68,0,0,0,.22.69,1.91,1.91,0,0,0,3.78,0,6.46,6.46,0,0,0,.31-2c0-.89,0-1.79.08-2.62a8.59,8.59,0,0,1,1-3.64c-.63-.19-1.35-.35-1.77.11a2.86,2.86,0,0,0-.49,1,2.74,2.74,0,0,1-.91,1.13,17.13,17.13,0,0,0,0,2.48,13.13,13.13,0,0,1-.15,2.73.07.07,0,0,1-.14,0,16.57,16.57,0,0,1-.16-3.45,8.44,8.44,0,0,1,.11-1.52A5.25,5.25,0,0,1,217.65,131.74Z"/>
          <path class="cls-8" d="M222.62,131.35c.38-.2.81-.36,1-.5a5.4,5.4,0,0,0,1.26-1.35c.13-.2.25-.42.38-.63a4.75,4.75,0,0,1-1.68,0l-.24-.07C223.11,129.64,222.8,130.46,222.62,131.35Z"/>
          <path class="cls-8" d="M202,116.86a5.08,5.08,0,0,0,.62,2.86c.28.73.63,1.44,1,2.14a2.76,2.76,0,0,1,.75-1.56A22.25,22.25,0,0,0,202,116.86Z"/>
          <path class="cls-11" d="M208.22,114.05a2.45,2.45,0,0,1,2.23,1.26c.8,1.16,1.8,3.62.11,4.52a2.8,2.8,0,0,1-2.27,0c-1.95-.75-2.29-2.85-1.46-4.63A2,2,0,0,1,208.22,114.05Zm1.17,2s0,0,0-.08c-.09-.35-.53-.78-.91-.57s-.13,1.14.29,1.26S209.42,116.37,209.39,116Z"/>
          <path class="cls-11" d="M205.62,117.88c-.27-2,.73-5.2,3.35-4.47a.11.11,0,0,0,.11-.18,2.13,2.13,0,0,0-3.06.44,4,4,0,0,0-.88,2.23,4.53,4.53,0,0,0,.07,1.22C205.22,117.21,205.5,118.15,205.62,117.88Z"/>
          <path class="cls-12" d="M208.76,116.64c.33.09.66-.27.63-.61,0,0,0,0,0-.08-.09-.35-.53-.78-.91-.57S208.34,116.52,208.76,116.64Z"/>
          <path class="cls-11" d="M211.69,169.81a12.41,12.41,0,0,0-4.12-.27c-.07,0,0,.12,0,.12a25.21,25.21,0,0,1,4.07.25C211.73,169.92,211.76,169.82,211.69,169.81Z"/>
          <path class="cls-11" d="M214,122a2.7,2.7,0,0,0,.81,2.12,4.59,4.59,0,0,0,5.18,1.19,4.31,4.31,0,0,0,1.56-1.18c1.13-1.27,2.41-3.6.78-5-1.23-1.08-3.28-.75-4.7-.3a6.85,6.85,0,0,0-2.56,1.38A3,3,0,0,0,214,122Z"/>
          <path class="cls-12" d="M221.76,111.63a.56.56,0,0,0,.87,0c.22-.38-.18-1.23-.68-1.09s-.43.73-.24,1Z"/>
          <path class="cls-11" d="M222,110.52c-.42.11-.43.73-.24,1l0,.07a.56.56,0,0,0,.87,0C222.85,111.23,222.45,110.38,222,110.52Zm1.05-1.27c1.84.67,3.09,2.4,2.25,4.3a2.83,2.83,0,0,1-1.63,1.59c-1.83.56-2.87-1.88-3.12-3.27a2.42,2.42,0,0,1,.68-2.47A2,2,0,0,1,223,109.25Z"/>
          <path class="cls-11" d="M220.2,109.48c1.33-2.37,4.29-.83,5.53.78.27.11-.19-.75-.25-.82a4.67,4.67,0,0,0-.81-.91,4,4,0,0,0-2.21-1,2.13,2.13,0,0,0-2.47,1.85A.11.11,0,0,0,220.2,109.48Z"/>
          <path class="cls-12" d="M207.81,124.34h0c.23.44.46.89.67,1.35,1.82,2.84,4.18,5.22,8,5.21,2,0,3-1.21,4-2.75.76-1.18,2.39-.42,3.45-.32a3.64,3.64,0,0,0,3.34-1.53c.78-1.07,1.94-3.78,1.71-5.16a33.11,33.11,0,0,0-1.22-4.51h0c-.11-.37-.23-.75-.33-1.13l-.17,0a8,8,0,0,1-7.86-1.29c-2.18-1.93-3-4.66-4.25-7.19v0a10.57,10.57,0,0,0-.84-2.35c-.37-.92-.65-2.33-1.41-3a.25.25,0,0,0-.12-.08,2.55,2.55,0,0,1-.52.33h0l-.09,0-.1,0c0,.06,0,.12,0,.18-.81.35-1.68.63-2.55.92a2.39,2.39,0,0,0-.13-.21.41.41,0,0,0-.74.31,23.1,23.1,0,0,0,1.45,3.87c.5,1.19,1,2.39,1.48,3.58.28.66.6,1.31.91,2a6.55,6.55,0,0,1,.65,1.88c.12.72.14,1.46.21,2.18a3.48,3.48,0,0,1-.82,2.63,15.43,15.43,0,0,1-2.06,2.28,8.39,8.39,0,0,1-2.64,1.59c-.16.06-.43.11-.45.29s.3.55.37.7l.07.13A0,0,0,0,1,207.81,124.34ZM214,122a3,3,0,0,1,1.07-1.82,6.85,6.85,0,0,1,2.56-1.38c1.42-.45,3.47-.78,4.7.3,1.63,1.43.35,3.76-.78,5a4.31,4.31,0,0,1-1.56,1.18,4.59,4.59,0,0,1-5.18-1.19A2.7,2.7,0,0,1,214,122Z"/>
          <path class="cls-13" d="M194.49,127.94a8.74,8.74,0,0,0,1.16,2.85,20.06,20.06,0,0,0,3.3,4.5A3,3,0,0,0,200,136a1.81,1.81,0,0,0,1.78-.51,7,7,0,0,0,1.46-2.1c.24-.49.4-1.06.62-1.58a13,13,0,0,0-.07-6c-.75-3.4-3.33-7.11-1.71-10.67.37-.81,1.11-.33.7,0a1.78,1.78,0,0,0-.62.85.16.16,0,0,1,.09,0,11.37,11.37,0,0,1,2.62,3.33c.87,1.41,1.72,2.79,2.51,4.23h0a9.45,9.45,0,0,0,4.27-2.72,6.18,6.18,0,0,0,1.68-5.65,28.09,28.09,0,0,0-1.85-5.31c-.87-2.16-1.69-4.34-2.68-6.45a10.58,10.58,0,0,0-3.61,1.9A8.34,8.34,0,0,0,203,109.1a8.55,8.55,0,0,1-2.47,4.05c-2.79,2.67-3,5.93-4.46,9.28a26.65,26.65,0,0,0-1.48,3.21A4.84,4.84,0,0,0,194.49,127.94Zm12.34-12.71a2,2,0,0,1,1.39-1.18,2.45,2.45,0,0,1,2.23,1.26c.8,1.16,1.8,3.62.11,4.52a2.8,2.8,0,0,1-2.27,0C206.34,119.11,206,117,206.83,115.23Zm-1.69.67a4,4,0,0,1,.88-2.23,2.13,2.13,0,0,1,3.06-.44.11.11,0,0,1-.11.18c-2.62-.73-3.62,2.45-3.35,4.47-.12.27-.4-.67-.41-.76A4.53,4.53,0,0,1,205.14,115.9Z"/>
          <path class="cls-13" d="M212.83,101.83a7.35,7.35,0,0,1,.75,2,33.87,33.87,0,0,0,1.15,3.25,32.17,32.17,0,0,0,2.66,5.55,7.59,7.59,0,0,0,4.4,3.42,11.44,11.44,0,0,0,5.72-.2c-.12-.39-.22-.75-.31-1.09a18.21,18.21,0,0,1-.7-4.58c0-1,.63-3-.26-3.73a.15.15,0,0,1,0-.18l.4.08a1.72,1.72,0,0,1,.64,1.33,54.27,54.27,0,0,0,.47,6.37c.76,3.59,2.63,8.13,6.05,10a2.87,2.87,0,0,0,.39.2,2.29,2.29,0,0,0,2.76,0,4.51,4.51,0,0,0,1-2.52c.11-1,.26-1.88.39-2.83.09-.7.16-1.4.2-2.11.09-1.39.11-2.79.15-4.19a2.86,2.86,0,0,0-.6-2.16,16.33,16.33,0,0,0-2-1.34c-1.72-1.3-3-3.08-4.8-4.31-2-1.41-3.4-.85-5.63-.87.36.57.78,1.22.9,1.21h0l.06.09a1.67,1.67,0,0,0-.54-.07,9.54,9.54,0,0,0-1.43-.83,8.53,8.53,0,0,0-3-2c-2.34-1-4.64-2.35-7.22-1.25a2.51,2.51,0,0,0-1,.52l-.16.09Zm8.35,7.57a2,2,0,0,1,1.82-.15c1.84.67,3.09,2.4,2.25,4.3a2.83,2.83,0,0,1-1.63,1.59c-1.83.56-2.87-1.88-3.12-3.27A2.42,2.42,0,0,1,221.18,109.4Zm-1.19,0a2.13,2.13,0,0,1,2.47-1.85,4,4,0,0,1,2.21,1,4.67,4.67,0,0,1,.81.91c.06.07.52.93.25.82-1.24-1.61-4.2-3.15-5.53-.78A.11.11,0,0,1,220,109.42Z"/>
          <path class="cls-14" d="M180.21,141.11a4.2,4.2,0,0,0,0-1.06.53.53,0,0,1,.37,0,1.65,1.65,0,0,0,.82.13,4.55,4.55,0,0,1,.82-.15h.07s0,0,0,.06c0,.22,0,.43,0,.64,0,.05,0,.11,0,.16a.64.64,0,0,1-.15.13,14.52,14.52,0,0,0,.57,4.14,11,11,0,0,0,1.73,3.49c-.1.31-.19.63-.28,1a7.15,7.15,0,0,0-.19.84c-.09.32-.18.63-.24,1-.45-.69-1-1.36-1.38-2.08a17.5,17.5,0,0,1-1.43-3.5,16.86,16.86,0,0,1-.64-4.57l-.05,0-.09,0S180.21,141.15,180.21,141.11Z"/>
          <path class="cls-12" d="M182.2,140.42a1.34,1.34,0,0,1-.89.33,2.05,2.05,0,0,1-1-.26,16.35,16.35,0,0,1,.32-2.6,16.8,16.8,0,0,1,3.25-7.16,12.21,12.21,0,0,1,1.31-1.38,16.83,16.83,0,0,0-2.72,7.55A31.74,31.74,0,0,0,182.2,140.42Z"/>
          <path class="cls-12" d="M213.8,154.69a.59.59,0,0,1,0,.13c-.05-.49-.11-1-.17-1.45a20.13,20.13,0,0,0-.43-3.3c-.57-2.13-1.9-3.93-2.68-6a14,14,0,0,1-.09-7.8c.41-1.88,1.28-3.86.89-5.81.47.35.94.68,1.42,1a18,18,0,0,0,4.05,2.35,7.77,7.77,0,0,0,.46,3.59,2.78,2.78,0,0,0,2.91,1.72,2.93,2.93,0,0,0,2-2.19,9.69,9.69,0,0,0,.24-2.08c0-.33,0-.67,0-1a1.8,1.8,0,0,1,.18-.83,2.48,2.48,0,0,1,1-.8,6.74,6.74,0,0,0,1.7-1.44c.22,2.62,1.43,5.21,2.42,7.59a16.48,16.48,0,0,1,1.22,9.64.09.09,0,0,0,.13.11,27.72,27.72,0,0,1-2.12,4.43,19.17,19.17,0,0,1-12.85,8.64A15.56,15.56,0,0,0,213.8,154.69Z"/>
          <path class="cls-9" d="M201.63,158.33a14.7,14.7,0,0,0,1-2.64c.06-.18.1-.37.15-.55a3.21,3.21,0,0,1,1-.31,2,2,0,0,1,1.34.24,57.3,57.3,0,0,1,.68,8.14l-.45.09c-.31.06-.62.07-.93.1a5.91,5.91,0,0,0-1.92-1.33,5.41,5.41,0,0,0-1-.5,4.18,4.18,0,0,0-1-.21h0a.22.22,0,0,0,.05-.08l-.07.08a5.8,5.8,0,0,0-.6-.13C200.18,161.28,201.45,158.69,201.63,158.33Z"/>
          <path class="cls-13" d="M224.26,157.07l.52-.41.08.06a13.94,13.94,0,0,0,4.25-6.26.55.55,0,0,1-.22-.31,8.11,8.11,0,0,1,0-2.6,18.37,18.37,0,0,0,0-2.46,21.76,21.76,0,0,0-1.25-5.21c-.55-1.57-1.16-3.13-1.7-4.7a12,12,0,0,1-1-4.8c0-.31.51-.55.67-.19,0,.05,0,.09.05.13a7.63,7.63,0,0,0,.76-1.3c.81,1.53,1.32,3.37,2.21,5a30,30,0,0,1,2.4,4.9c1.47,4.42.45,9.25-.75,13.75-.54,2.06-1.12,4.14-1.51,6.24a.36.36,0,0,1,.06.44c-.54.73-1.62.33-2.34.05a6.93,6.93,0,0,1-2.5-1.71.63.63,0,0,1-.15-.26A4.35,4.35,0,0,0,224.26,157.07Z"/>
          <path class="cls-12" d="M223.08,164.93a25.26,25.26,0,0,0,.38-5.56,3.21,3.21,0,0,1,.13-1.31,1.72,1.72,0,0,1,.38-.58h0l.13-.14a3.08,3.08,0,0,0,1.84,1.58c.68.26,1.95.82,2.71.43a20.07,20.07,0,0,0-.12,7,4.88,4.88,0,0,0,1.38,2.92,4.42,4.42,0,0,0-3.84.09,9,9,0,0,1,2.93-.15,3.08,3.08,0,0,1,2.35,1.58,1.9,1.9,0,0,1-.82,2.51,3.37,3.37,0,0,0-1.53-2.6,5.25,5.25,0,0,1,.69,2.82,4.59,4.59,0,0,1-1.86.35,3.63,3.63,0,0,0-.9-2.77c0,.94,0,1.87,0,2.81-1.88.7-3.92-1.08-4.37-3.05S222.72,166.91,223.08,164.93Z"/>
          <path class="cls-12" d="M205.12,173.22c.09,1.08,1.06,2.19,2.11,1.94a3,3,0,0,1,1.19-2.57l-.43,2.66a2.46,2.46,0,0,0,2.75-.18,2.08,2.08,0,0,0,.43-2.65,3.41,3.41,0,0,1,.65,2.72c0-.15,1.74-.81,2-1.42.41-1.06,0-2.54-.2-3.6a40.17,40.17,0,0,1-.63-8.19,2.94,2.94,0,0,0,.52-.58c.23-.34-.22-.72-.54-.54a5.76,5.76,0,0,1-3.08.82,6.46,6.46,0,0,0-3.09.82.73.73,0,0,0,.18,1.32,18.64,18.64,0,0,1-1,6.33l-.33.86a1.45,1.45,0,0,1-.09.22A5.19,5.19,0,0,0,205.12,173.22Zm2.45-3.68a12.41,12.41,0,0,1,4.12.27c.07,0,0,.11,0,.1a25.21,25.21,0,0,0-4.07-.25C207.52,169.66,207.5,169.55,207.57,169.54Z"/>
          <path class="cls-13" d="M199.28,139.1l0,0,.1-.06,0,0,.07,0-.06,0a.78.78,0,0,0,.18-.11c.41-.18.79-.5,1.16-.69.56-.3,1.14-.57,1.71-.84a11.27,11.27,0,0,0,3.12-2,11.6,11.6,0,0,0,2.22-4,5.37,5.37,0,0,0,.32-3.73,16.23,16.23,0,0,0,2.84,2.65.31.31,0,0,1,.46.07c1,1.74,0,4.41-.42,6.2a14.56,14.56,0,0,0,.28,7.24c1.25,4.46,3.62,9,2.07,13.72-.17,1.18-.28,2.36-.34,3.54a2.72,2.72,0,0,1-1.79,1.27,3.35,3.35,0,0,1-1.85-.31c-.85-.24-1.61.41-2.41.67,0-1.24-.16-2.48-.32-3.71-.49-3.74-1.36-7.44-1.56-11.21a15.65,15.65,0,0,0-.18,5.91c.05.39.09.79.14,1.18a2.44,2.44,0,0,0-2.15-.15,19.64,19.64,0,0,0,.47-4.78A16.63,16.63,0,0,0,199.28,139.1Z"/>
          <path class="cls-14" d="M202.17,155.18a9.64,9.64,0,0,0,.39-2,.62.62,0,0,1,0-.38l0-.56a.59.59,0,0,1,0-.14c0-.41.05-.82.07-1.22a.65.65,0,0,1,1.2-.33c.49,1,1.15,1.86,1.62,2.83a23.45,23.45,0,0,0,.23,2.34l-.18.06-.23,0a2.3,2.3,0,0,1-2.1.15h-.47A.63.63,0,0,1,202.17,155.18Z"/>
          <path class="cls-14" d="M199.22,138.37a9.29,9.29,0,0,1,1.64-1,.79.79,0,0,1,.7,0,5.72,5.72,0,0,0,.53-.45.72.72,0,0,1,.88-.13.58.58,0,0,1,.15-.11l.1-.06c.37-.23.76-.44,1.13-.66a9.09,9.09,0,0,0,1.78-1.49,6.81,6.81,0,0,0,1.12-2.57c.27-1.23.14-2.58.42-3.81,0-.21,0-.43,0-.66,0-.55.84-.82,1.08-.29a1.74,1.74,0,0,1,.19.7.33.33,0,0,1,0,.2c1.13,1.63.13,4.52-.72,6.07a9.41,9.41,0,0,1-.76,1.14,5.63,5.63,0,0,1-1,1.14,5,5,0,0,1-.43.34,8.48,8.48,0,0,1-1.92,1.2,3.67,3.67,0,0,0-.91.89c-.41.61-.44,1.39-.86,2a2,2,0,0,1-1.64.91.86.86,0,0,1-.84-.95s0,0,0-.06c-.24-.43-.47-.88-.7-1.33A.79.79,0,0,1,199.22,138.37Z"/>
          <path class="cls-15" d="M188,142.09a6.16,6.16,0,0,1,.65-.87l0,0,.43-.19c.42-.53.84-1.06,1.28-1.57a.43.43,0,0,1,.19-.21c.05-.07.11-.13.17-.2.53-.58,1.25-.9,1.8-1.46s1.51,0,1.21.71a8.4,8.4,0,0,1-1.88,3,17.59,17.59,0,0,1-2.87,1.72,1.22,1.22,0,0,1-.46.25.9.9,0,0,1-.8-.37C187.66,142.61,187.87,142.28,188,142.09Z"/>
          <path class="cls-12" d="M186,158.84a.71.71,0,0,1,.1-.52c.35-.48.79-.7,1.09-1.24a15.13,15.13,0,0,1,1.16-1.82,9.17,9.17,0,0,1,2.84-2.53,9.32,9.32,0,0,1,3.82-.91,5.38,5.38,0,0,0,2.27-.58,17.62,17.62,0,0,0,2.26-1.77.85.85,0,0,1,.25-.13c.42-.77,1.06-1.54,1.93-1.4h0a.51.51,0,0,1,1,.06,12.73,12.73,0,0,1-.06,5.46,8.39,8.39,0,0,1-.62,1.93.38.38,0,0,1,0,.15c-.08.32-.46,1-.34,1.35a5.33,5.33,0,0,0-.55,1.54c-.16.36-.3.72-.43,1.08a8.3,8.3,0,0,1-1.23,1.41,6.77,6.77,0,0,1-4.35,1.16,5.34,5.34,0,0,1-3-.87,4.76,4.76,0,0,1-.53-.19,6.74,6.74,0,0,0,1.34,1,5.16,5.16,0,0,0,2.5.83c1.53.58,2.57-.16,4.09-.15A5.58,5.58,0,0,1,203,164a3.62,3.62,0,0,1,1.06,1.5h0a2.65,2.65,0,0,0-1.46-1.09c-.07,0-.1.08,0,.12a5.66,5.66,0,0,1,1.19,1.25,4.31,4.31,0,0,1,.43,1,1.61,1.61,0,0,1-.28.63,2.57,2.57,0,0,1-1.84.9,4.35,4.35,0,0,0-1.61-3.11c-.09-.07-.21.06-.15.14a7.19,7.19,0,0,1,1.06,2,4.47,4.47,0,0,1,.14,1h0a16,16,0,0,1-7.63-1.92,34.79,34.79,0,0,1-3.44-2c-.82-.54-2.3-1.22-2.66-2.19a.27.27,0,0,1,0-.26.32.32,0,0,1,.17-.06,2.34,2.34,0,0,0,.85-.16c-.2-.33-.42-.65-.65-1-.67-.41-1.28-1.07-1.89-1.41A.43.43,0,0,1,186,158.84Z"/>
          <path class="cls-14" d="M201.22,149a1.64,1.64,0,0,0-.25.21,8.25,8.25,0,0,0-2.5,1.86,4.76,4.76,0,0,1-3,1.13,12.83,12.83,0,0,0-3,.37,5.17,5.17,0,0,0-3.21,2.48c-.41.71-.68,1.49-1.08,2.21a2,2,0,0,1-1.72,1.11l-.27-.57c-1.43-1.19-1.61-3.41-1.61-5.15a14.19,14.19,0,0,1,.33-3.15.51.51,0,0,0,.09.16,11.69,11.69,0,0,1,2.56-5.73,1.41,1.41,0,0,1,.18-.17c1.94,1.41,4,2.69,6.53,2.66a8.59,8.59,0,0,0,3.74-1c.55-.28,1.09-.57,1.6-.89a8.43,8.43,0,0,0,.78-.55c.12-.11.46-.56.59-.59.43-.07,1.19.12.66.59a.74.74,0,0,1,.18.23c.1.21.19.43.28.64a9.06,9.06,0,0,1,1,2.64.73.73,0,0,1-.29.77h-.13a.47.47,0,0,1-.41.53C201.93,148.83,201.57,148.89,201.22,149Z"/>
          <path class="cls-13" d="M190.22,146.41a5.24,5.24,0,0,1-2.23-2.24c-.16-.31.27-.78.43-1,.27-.44.56-.87.86-1.29a14.28,14.28,0,0,1,1.92-2.19,4.77,4.77,0,0,1,5.63-.86,10.25,10.25,0,0,1,4.48,5.38c.07.19-1,.83-1.14,1a3.89,3.89,0,0,1-1.69.83c-.71.15-1.45.1-2.17.23-.88.16-1.69.58-2.57.77A5.26,5.26,0,0,1,190.22,146.41Z"/>
          <path class="cls-8" d="M224.67,158c-.27-.22-.57-.44-.87-.64a35.57,35.57,0,0,0,2.61-2.6,8.06,8.06,0,0,0,2.15-3.71.11.11,0,0,1,.09.07,4.39,4.39,0,0,1-.76,2.92,16.67,16.67,0,0,1-1,1.94,20,20,0,0,1-1.68,2.55A3.08,3.08,0,0,0,224.67,158Z"/>
          <path class="cls-9" d="M221.87,165.6c.06-.21.13-.41.19-.61a.54.54,0,0,1,0-.4c.32-1.52.51-3.08.78-4.61a5.13,5.13,0,0,1,.39-1.54l-.09-.14a.66.66,0,0,1,1-.8l.23.24a1.36,1.36,0,0,1,.45.25.59.59,0,0,1,.18.29.34.34,0,0,1,.1.33c-.12.55-.27,1.09-.43,1.63a5.72,5.72,0,0,1-.17.59c-.13.45-.25.9-.35,1.36a8.17,8.17,0,0,1-.87,2.56,4,4,0,0,1-.48,1.24A.51.51,0,0,1,221.87,165.6Z"/>
          <path class="cls-9" d="M192.73,161.36l.18.19a.45.45,0,0,1,.48.17,2.65,2.65,0,0,0,.76.7c.14.07.28.14.41.22h0a6,6,0,0,0,2.16.13c1.25-.11,2.48-.34,3.72-.51a.64.64,0,0,1,.59.21,1.69,1.69,0,0,1,.55,0,.34.34,0,0,1,.23.4c-.5,1.5-3.2,1.88-4.55,1.75a8.25,8.25,0,0,1-2.41-.76c-.28-.13-.57-.27-.84-.43a2.91,2.91,0,0,1-1.3-1.19l-.1-.08a.27.27,0,0,1-.07-.08c-.09-.09-.19-.17-.28-.27C192,161.48,192.48,161.05,192.73,161.36Z"/>
          <path class="cls-11" d="M179.68,145.87a17.81,17.81,0,0,0,1.56,4A8.89,8.89,0,0,0,183.6,153a11.69,11.69,0,0,0,.64,4.35,9.73,9.73,0,0,0,1.74,3.07c.15.17.31.36.49.55a1.47,1.47,0,0,0-.24.59c-.47,1,.33,2.31,1.14,3a26.43,26.43,0,0,0,4.15,2.5,19.6,19.6,0,0,0,6.54,2.37,6.51,6.51,0,0,0,1.65.31,7.32,7.32,0,0,0,5-1.3,2,2,0,0,0,.33-.38,23.53,23.53,0,0,1-.86,2.39l-.41,1.14c-.11,2.08-.32,3.91,2.24,4.86a7.8,7.8,0,0,0,2.49.43c1.78,0,4.51,0,5.88-1.31,1.59-1.59.15-4.1-.08-5.95a33.5,33.5,0,0,1-.21-4,12.41,12.41,0,0,0,2.78,1.55,7.87,7.87,0,0,0,4.45.6l-.12.92a7.45,7.45,0,0,0,.15,3.58,4.78,4.78,0,0,0,3.18,2.64,11.05,11.05,0,0,0,4.25.16c1.73-.19,3.82-.89,4.06-2.61.18-1.25-.76-2.35-1.45-3.42-2.92-4.51-1.74-10.45-.25-15.61,1-3.55,2.13-7.2,2-10.93s-2.06-7.07-3.67-10.35c-.47-1-2.41-4-1.52-5.18l.22-.29a10.21,10.21,0,0,0,2-4.93,11.56,11.56,0,0,0,3,3.61,3.93,3.93,0,0,0,4.39.31c1.2-.83,1.59-2.4,1.83-3.84a56.12,56.12,0,0,0,.79-8.07,6.7,6.7,0,0,0-.54-3.41,7.1,7.1,0,0,0-1.74-1.89c-1.39-1.19-2.8-2.36-4.21-3.53a9,9,0,0,0-3.85-2.32c-2.07-.36-3.81.09-5.89-.69-.82-.3-1.6-.69-2.38-1.06a15.3,15.3,0,0,0-4.38-1.52,6.56,6.56,0,0,0-4,.73c-.64.32-1.24.73-1.89,1-.24.07-.47.16-.7.25-.57.17-1.17.27-1.75.39a8.68,8.68,0,0,0-6.19,4.32,45.13,45.13,0,0,0-1.57,4.35c-.41,1-1.5,1.56-2.18,2.39a17.59,17.59,0,0,0-2,3.46c-.23.45-.44.91-.65,1.38-.66,2.66-2.12,4.91-2.91,7.5-.72,2.4.17,4.37,1.4,6.43.95,1.59,2.13,4.64,4,5.74-.42.15-.83.31-1.24.49l-.11.06a3.14,3.14,0,0,0-.64-.39,5.19,5.19,0,0,0-3.7-.17,8,8,0,0,0-3.1,2.33,25.27,25.27,0,0,0-4.81,7.74c-1.86-2.93-1.89-6.44-1.5-9.77a16.61,16.61,0,0,1,2.08-7,8,8,0,0,1,2.4-2.54c.32-.2,2.79-1.21,2.49-1.42a.35.35,0,0,0-.2,0,8.36,8.36,0,0,0-6.86,3,16.37,16.37,0,0,0-3.86,7.45A18.28,18.28,0,0,0,179.68,145.87Zm55.91-21.22a5.6,5.6,0,0,0,.66-.21,5.3,5.3,0,0,0,.59-.27A1.55,1.55,0,0,1,235.59,124.65Zm-8.31,1.66a3.64,3.64,0,0,1-3.34,1.53c-1.06-.1-2.69-.86-3.45.32-1,1.54-2,2.75-4,2.75-3.78,0-6.14-2.37-8-5.21a63.12,63.12,0,0,0-3.65-6.45,11.37,11.37,0,0,0-2.62-3.33.16.16,0,0,0-.09,0,1.78,1.78,0,0,1,.62-.85c.41-.31-.33-.79-.7,0-1.62,3.56,1,7.27,1.71,10.67a13,13,0,0,1,.07,6c-.22.52-.38,1.09-.62,1.58a7,7,0,0,1-1.46,2.1A1.81,1.81,0,0,1,200,136a3,3,0,0,1-1.05-.68,20.06,20.06,0,0,1-3.3-4.5,8.74,8.74,0,0,1-1.16-2.85,4.84,4.84,0,0,1,.07-2.3,26.65,26.65,0,0,1,1.48-3.21c1.43-3.35,1.67-6.61,4.46-9.28A8.55,8.55,0,0,0,203,109.1a8.34,8.34,0,0,1,2.24-3.86c2.2-1.95,5.58-2.2,8-3.62l.16-.09a2.51,2.51,0,0,1,1-.52c2.58-1.1,4.88.23,7.22,1.25a8.53,8.53,0,0,1,3,2,9.54,9.54,0,0,1,1.43.83,1.67,1.67,0,0,1,.54.07l-.06-.09h0c-.12,0-.54-.64-.9-1.21,2.23,0,3.61-.54,5.63.87,1.77,1.23,3.08,3,4.8,4.31a16.33,16.33,0,0,1,2,1.34,2.86,2.86,0,0,1,.6,2.16,36.43,36.43,0,0,1-.88,8.91h0a3.77,3.77,0,0,1-1.11,2.67,2.53,2.53,0,0,1-2.91-.1c-3.42-1.91-5.29-6.45-6.05-10a54.27,54.27,0,0,1-.47-6.37,1.72,1.72,0,0,0-.64-1.33l-.4-.08a.15.15,0,0,0,0,.18c.89.76.27,2.74.26,3.73a18.21,18.21,0,0,0,.7,4.58c.43,1.67,1.4,4.11,1.79,6.42C229.22,122.53,228.06,125.24,227.28,126.31ZM205.1,126c-.33-1.61-.93-3.32-.27-4.82a10.18,10.18,0,0,1,2.07,6.38,13.08,13.08,0,0,1-2.41,6.88c-.17.17-.34.34-.53.5A14.08,14.08,0,0,0,205.1,126Zm-1.46-4.18c-.35-.7-.7-1.41-1-2.14a5.08,5.08,0,0,1-.62-2.86,22.25,22.25,0,0,1,2.35,3.44A2.76,2.76,0,0,0,203.64,121.86Zm18.15,13a6.46,6.46,0,0,1-.31,2,1.91,1.91,0,0,1-3.78,0,3.68,3.68,0,0,1-.22-.69,20.76,20.76,0,0,1-.16-2.3c0-1,0-2,.33-2.11a5.25,5.25,0,0,0,1.7-.67,8.44,8.44,0,0,0-.11,1.52,16.57,16.57,0,0,0,.16,3.45.07.07,0,0,0,.14,0,13.13,13.13,0,0,0,.15-2.73,17.13,17.13,0,0,1,0-2.48,2.74,2.74,0,0,0,.91-1.13,2.86,2.86,0,0,1,.49-1c.42-.46,1.14-.3,1.77-.11a8.59,8.59,0,0,0-1,3.64C221.77,133.09,221.82,134,221.79,134.88Zm1.56-6.11.24.07a4.75,4.75,0,0,0,1.68,0c-.13.21-.25.43-.38.63a5.4,5.4,0,0,1-1.26,1.35c-.2.14-.63.3-1,.5C222.8,130.46,223.11,129.64,223.35,128.77Zm-6.71,3.79a5,5,0,0,1-1.49-.64,7.28,7.28,0,0,1-.6-.42,7.3,7.3,0,0,0,2.5.33C217,132.12,217.1,132.6,216.64,132.56Zm5.35,29.8a2.88,2.88,0,0,0-1.29-.4,3.58,3.58,0,0,0,.18-.32,3.79,3.79,0,0,0,.42-2.12c.38-.24.76-.48,1.14-.74Zm-7.94,1a3.63,3.63,0,0,0,.12-.9,25.06,25.06,0,0,0,6.44-2.57,3.58,3.58,0,0,1-.53,1.37,3.89,3.89,0,0,1-1,1,1.61,1.61,0,0,0-.58.55.28.28,0,0,0,.17.42,1.65,1.65,0,0,0,1.46-.61,7.14,7.14,0,0,0,1,.53,2.28,2.28,0,0,1,.63.51c-.08.65-.17,1.3-.25,1.95a1,1,0,0,0-.08-.11,2.07,2.07,0,0,0-.95-.62c-.1,0-.2.12-.11.2a4.15,4.15,0,0,1,.7.75c.13.19.23.4.34.6a.22.22,0,0,1,0,.08c-.55,0-1.12,0-1.68-.08a9,9,0,0,1-2.44-.67,9.59,9.59,0,0,1-2.21-1.34c-.38-.29-.7-.62-1.08-.87Zm-9.7,0a5.91,5.91,0,0,0-1.92-1.33,5.41,5.41,0,0,0-1-.5,4.18,4.18,0,0,0-1-.21h0a.22.22,0,0,0,.05-.08l-.07.08a5.8,5.8,0,0,0-.6-.13c.41.06,1.68-2.53,1.86-2.89a14.7,14.7,0,0,0,1-2.64,19.81,19.81,0,0,0,.73-5.83,16.63,16.63,0,0,0-4.06-10.76l0,0,.1-.06,0,0,.07,0-.06,0a.78.78,0,0,0,.18-.11c.41-.18.79-.5,1.16-.69.56-.3,1.14-.57,1.71-.84a11.27,11.27,0,0,0,3.12-2,11.6,11.6,0,0,0,2.22-4,5.37,5.37,0,0,0,.32-3.73,22.11,22.11,0,0,0,4.62,3.94,18,18,0,0,0,4.05,2.35,7.77,7.77,0,0,0,.46,3.59,2.78,2.78,0,0,0,2.91,1.72,2.93,2.93,0,0,0,2-2.19,9.69,9.69,0,0,0,.24-2.08c0-.33,0-.67,0-1a1.8,1.8,0,0,1,.18-.83,2.48,2.48,0,0,1,1-.8,7.24,7.24,0,0,0,2.86-3.26c.81,1.53,1.32,3.37,2.21,5a30,30,0,0,1,2.4,4.9c1.47,4.42.45,9.25-.75,13.75s-2.56,9.17-1.72,13.75a4.88,4.88,0,0,0,1.38,2.92,4.42,4.42,0,0,0-3.84.09,9,9,0,0,1,2.93-.15,3.08,3.08,0,0,1,2.35,1.58,1.9,1.9,0,0,1-.82,2.51,3.37,3.37,0,0,0-1.53-2.6,5.25,5.25,0,0,1,.69,2.82,4.59,4.59,0,0,1-1.86.35,3.63,3.63,0,0,0-.9-2.77c0,.94,0,1.87,0,2.81-1.88.7-3.92-1.08-4.37-3.05s.15-4,.51-6a25.26,25.26,0,0,0,.38-5.56,2.34,2.34,0,0,1,1.24-2.52,13.88,13.88,0,0,0,5.11-10.75,36.53,36.53,0,0,1-2.91,6.51,19.17,19.17,0,0,1-12.85,8.64,15.56,15.56,0,0,0-.25-6.56,40.06,40.06,0,0,0-.21,15.43c.2,1.06.61,2.54.2,3.6-.23.61-1.95,1.27-2,1.42a3.41,3.41,0,0,0-.65-2.72,2.08,2.08,0,0,1-.43,2.65,2.46,2.46,0,0,1-2.75.18l.43-2.66a3,3,0,0,0-1.19,2.57c-1,.25-2-.86-2.11-1.94a5.19,5.19,0,0,1,.37-2,1.45,1.45,0,0,0,.09-.22l.33-.86c1.3-3.54,1.2-7.45.71-11.19s-1.36-7.44-1.56-11.21a15.65,15.65,0,0,0-.18,5.91,76.21,76.21,0,0,1,.85,9.6l-.45.09C205,163.36,204.66,163.37,204.35,163.4Zm1.32,1.14c0,.55-.11,1.1-.2,1.65a5,5,0,0,0-.33-1.53A4.54,4.54,0,0,0,205.67,164.54Zm-20.21-14.13c.87-3.77,2.88-8.1,5.74-10.76a4.77,4.77,0,0,1,5.63-.86c3.81,2.06,5.41,6.73,5.67,10.82a16.54,16.54,0,0,1-1.1,7,15.09,15.09,0,0,1-1.36,2.69,4.26,4.26,0,0,1-1.36,1.56h0a5.72,5.72,0,0,1-3.64,1,6.22,6.22,0,0,1-2.15-.6,12.18,12.18,0,0,0-1.74-1,4.52,4.52,0,0,0,1.83,1.77,5.16,5.16,0,0,0,2.5.83c1.53.58,2.57-.16,4.09-.15A5.58,5.58,0,0,1,203,164a3.62,3.62,0,0,1,1.06,1.5h0a2.65,2.65,0,0,0-1.46-1.09c-.07,0-.1.08,0,.12a5.66,5.66,0,0,1,1.19,1.25,4.31,4.31,0,0,1,.43,1,1.61,1.61,0,0,1-.28.63,2.57,2.57,0,0,1-1.84.9,4.35,4.35,0,0,0-1.61-3.11c-.09-.07-.21.06-.15.14a7.19,7.19,0,0,1,1.06,2,4.47,4.47,0,0,1,.14,1h0a16,16,0,0,1-7.63-1.92,34.79,34.79,0,0,1-3.44-2c-.82-.54-2.3-1.22-2.66-2.19a.27.27,0,0,1,0-.26.32.32,0,0,1,.17-.06,2.34,2.34,0,0,0,.85-.16c-.68-1.13-1.61-2.08-2.23-3.27a12.79,12.79,0,0,1-1.19-3.41A11.51,11.51,0,0,1,185.46,150.41Zm-4.79-12.52a16.8,16.8,0,0,1,3.25-7.16,12.21,12.21,0,0,1,1.31-1.38,16.83,16.83,0,0,0-2.72,7.55,19.59,19.59,0,0,0,.26,8.28,11,11,0,0,0,1.73,3.49c-.1.31-.19.63-.28,1a7.15,7.15,0,0,0-.19.84c-.09.32-.18.63-.24,1-.45-.69-1-1.36-1.38-2.08a17.5,17.5,0,0,1-1.43-3.5A16.84,16.84,0,0,1,180.67,137.89Z"/>
        </g>
      </g>
      <g>
        <g>
          <polygon class="cls-16" points="131.72 40.44 107.52 40.44 116.8 25.52 107.25 11.91 131.72 11.91 131.72 40.44"/>
          <polygon class="cls-17" points="266.66 40.44 290.86 40.44 281.59 25.52 291.14 11.91 266.66 11.91 266.66 40.44"/>
          <rect class="cls-18" x="127.55" y="2.03" width="144.25" height="33.93"/>
        </g>
        <g>
          <path class="cls-12" d="M167.69,29a35.56,35.56,0,0,0-6.31-6.25,23.8,23.8,0,0,1-8.1,6,11.45,11.45,0,0,0-2.46-3.47A20.75,20.75,0,0,0,158,20.83a17.88,17.88,0,0,0,4.42-6.47l-5.72.09a25.69,25.69,0,0,0-3.5.22L153,10.75a16.31,16.31,0,0,0,2.31.16l1.23,0,7.53-.11a4.17,4.17,0,0,0,1.76-.25l1.93,2a3.47,3.47,0,0,0-.79,1.3,26.18,26.18,0,0,1-3.23,5.94,52.08,52.08,0,0,1,7,6Z"/>
          <path class="cls-12" d="M184.39,19.29A11.37,11.37,0,0,1,182.81,25c-1.21,2-2.86,3.23-5.9,4.46A10,10,0,0,0,174.33,26c4-1.19,5.77-3.15,5.95-6.67h-4.52a29,29,0,0,0-3.32.11V15.7a18,18,0,0,0,3.39.18h12.26a22.88,22.88,0,0,0,3.5-.15V19.4a29.36,29.36,0,0,0-3.44-.11Zm-9.7-9.24a18.79,18.79,0,0,0,3.41.18h7.7a19.26,19.26,0,0,0,3.52-.18v3.72a27.13,27.13,0,0,0-3.46-.11H178a28,28,0,0,0-3.34.11Z"/>
          <path class="cls-12" d="M193.78,17.07a31.73,31.73,0,0,0,4.51.2h10.52a36.78,36.78,0,0,0,4.51-.2v4.24c-1.06-.1-2-.13-4.53-.13H198.31c-2.46,0-3.19,0-4.53.13Z"/>
          <path class="cls-12" d="M217.56,15.15a31.12,31.12,0,0,1,6.14,3.13l-1.87,3.45a26.77,26.77,0,0,0-6.29-3.43Zm-1.38,9.62A20.66,20.66,0,0,0,223,23.36c4.11-1.63,7-4.86,8.58-9.61a14,14,0,0,0,3.23,2.75C232,23.41,227,27.19,218.84,28.58a14.77,14.77,0,0,0-1.56.37Zm3-15a37.67,37.67,0,0,1,6.32,2.91l-2,3.36a27.46,27.46,0,0,0-6.31-3.14Zm11.38-.19a15.52,15.52,0,0,1,1.94,3.49l-2.18.8a15.83,15.83,0,0,0-1.94-3.57Zm3.06-1a15.16,15.16,0,0,1,2,3.39l-2.12.77a15.35,15.35,0,0,0-1.91-3.45Z"/>
          <path class="cls-12" d="M240.36,9.92a14.54,14.54,0,0,0,2.64.15h2.79a21.39,21.39,0,0,0,2.73-.09,34.35,34.35,0,0,0-.15,3.55V25.06a25.88,25.88,0,0,0,.17,3.32h-4.79a25.68,25.68,0,0,0,.17-3.32V13.83H243a23.27,23.27,0,0,0-2.68.16Z"/>
        </g>
      </g>
      <g id="marker30man" class="<%= marker_class(steps, 300_000) %>">
        <path class="outer-shape" d="M378.8,130.47a23.81,23.81,0,1,0-43.45,13.45h0a119.12,119.12,0,0,0,8,11.71c5.84,7.5,8.83,11.25,12.22,11.26,4.15,0,7.3-4.47,12.84-12.4a86.79,86.79,0,0,0,6.85-11.61,24.2,24.2,0,0,0,2.5-5.62A27,27,0,0,0,378.8,130.47Z"/>
        <circle class="inner-circle" cx="354.85" cy="131.59" r="16.83"/>
        <text class="label" transform="translate(333.72 134.36)">30万歩</text>
      </g>
      <g id="marker20man" class="<%= marker_class(steps, 200_000) %>">
        <path class="outer-shape" d="M279.11,105.47a23.81,23.81,0,1,0-43.45,13.45h0a119.12,119.12,0,0,0,8.05,11.71c5.84,7.5,8.83,11.25,12.22,11.26,4.15,0,7.3-4.47,12.84-12.4a86.79,86.79,0,0,0,6.85-11.61,23.78,23.78,0,0,0,2.5-5.62A27,27,0,0,0,279.11,105.47Z"/>
        <circle class="inner-circle" cx="255.16" cy="106.59" r="16.83"/>
        <text class="label" transform="translate(234.03 109.36)">20万歩</text>
      </g>
      <g id="marker10man" class="<%= marker_class(steps, 100_000) %>">
        <path class="outer-shape" d="M214.42,176.57A23.8,23.8,0,1,0,171,190h0a117.55,117.55,0,0,0,8,11.71c5.84,7.5,8.83,11.25,12.23,11.27,4.15,0,7.3-4.48,12.84-12.4A86.17,86.17,0,0,0,210.94,189a23.9,23.9,0,0,0,2.5-5.61A27.34,27.34,0,0,0,214.42,176.57Z"/>
        <circle class="inner-circle" cx="190.48" cy="177.7" r="16.83"/>
        <text class="label" transform="translate(168.17 182.89)">10万歩</text>
      </g>
      <g id="marker1man" class="<%= marker_class(steps, 10_000) %>">
        <path class="outer-shape" d="M194.62,95.84a23.81,23.81,0,1,0-43.44,13.45h0A117.94,117.94,0,0,0,159.22,121c5.84,7.5,8.83,11.25,12.22,11.27,4.15,0,7.3-4.48,12.85-12.41a86.38,86.38,0,0,0,6.84-11.61,23.38,23.38,0,0,0,2.51-5.62A27.21,27.21,0,0,0,194.62,95.84Z"/>
        <circle class="inner-circle" cx="170.67" cy="96.97" r="16.83"/>
        <text class="label" transform="translate(152.59 102.15)">1万歩</text>
      </g>
      <g id="marker1" class="<%= marker_class(steps, 1) %>">
        <path class="outer-shape" d="M125.89,129a23.81,23.81,0,1,0-43.45,13.45h0a119.12,119.12,0,0,0,8,11.71c5.84,7.5,8.83,11.25,12.22,11.26,4.15,0,7.3-4.47,12.84-12.4a86.79,86.79,0,0,0,6.85-11.61,23.78,23.78,0,0,0,2.5-5.62A27,27,0,0,0,125.89,129Z"/>
        <circle class="inner-circle" cx="101.94" cy="130.15" r="16.83"/>
        <text class="label" transform="translate(90.86 135.34)">1歩</text>
      </g>
      <rect class="cls-22" x="20.43" y="153.93" width="53.56" height="28.96" rx="14.48"/>
      <g>
        <path class="cls-12" d="M25.89,171.87l1.18-1.42a3.72,3.72,0,0,0,2.25,1c.86,0,1.28-.34,1.28-.89s-.52-.75-1.32-1.09l-1.19-.5a2.68,2.68,0,0,1-1.84-2.5c0-1.51,1.35-2.71,3.25-2.71a4.27,4.27,0,0,1,3,1.2l-1.05,1.3a3,3,0,0,0-1.9-.73c-.71,0-1.16.31-1.16.83s.6.76,1.39,1.08l1.17.48a2.51,2.51,0,0,1,1.81,2.47c0,1.52-1.26,2.83-3.44,2.83A5,5,0,0,1,25.89,171.87Z"/>
        <path class="cls-12" d="M35.76,165.62H33.25v-1.74h7.09v1.74H37.83V173H35.76Z"/>
        <path class="cls-12" d="M42.9,163.88h2.48L48.24,173H46.05l-.56-2.18H42.71L42.15,173H40Zm.23,5.35h1.94l-.21-.84c-.25-.91-.5-2-.74-2.94h-.06c-.22,1-.46,2-.71,2.94Z"/>
        <path class="cls-12" d="M49.23,163.88h3.29c1.93,0,3.52.68,3.52,2.85a2.67,2.67,0,0,1-1.63,2.63L56.48,173H54.17l-1.75-3.3H51.29V173H49.23Zm3.12,4.21c1.08,0,1.67-.47,1.67-1.36s-.59-1.21-1.67-1.21H51.29v2.57Z"/>
        <path class="cls-12" d="M59.34,165.62H56.83v-1.74h7.09v1.74H61.41V173H59.34Z"/>
        <path class="cls-12" d="M65.4,171.9a1.25,1.25,0,1,1,1.25,1.28A1.25,1.25,0,0,1,65.4,171.9Zm.28-6.41-.07-1.86h2.07l-.07,1.86-.29,4.29H66Z"/>
      </g>
    </g>
  </g>
</svg>
